<%= render 'layouts/navigation', nav_for: 'login' %>

<div class="login">
  <h1 class="text-center">Check your e-mail</h1>

  <p class="text-center">We have sent a password recover instructions to your e-mail</p>

  <p id="notice" class="color-black"><strong><%= notice %></strong></p>

  <hr>

  <p class="text-center">Did not receive the e-mail? Check your spam filter or</p>

  <p class="text-center"><%= link_to "Resend", reset_password_path %></p>
</div>

<%= render 'layouts/footer' %>
