<h1>All Techniques</h1>

<p><%= link_to "Dashboard", dashboard_path %></p>

<% Technique.all.each do |technique| %>
  <%= render 'layouts/techniques/coach', technique: technique, show_details: true %>
<% end %>
