<%# <footer class="page-footer pt-4">
    <div class="container">
        <div class="row">
            <div class="col">
                <p>&copy; 2022 All rights reserved</p>
            </div>

            <div class="col right">
                <p>
                    <a href="/">Terms</a> &emsp;
                    <a href="/">Privacy</a> &emsp;
                    <a href="/">Security</a> &emsp;
                </p>
            </div>
        </div>
    </div>
</footer> %>
