<%= render 'layouts/navigation/app', user: current_user %>

<div class="card-view">
  <p id="alert"><%= alert %></p>
  <p id="notice"><%= notice %></p>

  <%= render 'layouts/coaches/coach', user: @coach.user %>
</div>
