@import "~bootstrap/scss/bootstrap";

.hidden {
    display: none;
}

p#alert,
p#notice {
    text-align: center;
}

.color-red {
    color: #B00020 !important;
}

.color-black {
    color: black !important;
}

.font-size-small {
    font-size: 12px;
}

.text-right {
    text-align: right;
}

header.navigation {
    height: 80px;
    background-color: #495057 !important;

    div.container {
        margin-top: 10px;
    }

    a.logo {
        color: #dee2e6;
    }

    ul li a {
        color: #adb5bd !important;
    }

    ul li,
    a.logo {
        margin-right: 30px;
    }

    a.btn {
        color: #adb5bd !important;
        border-color: #adb5bd !important;
        background-color: transparent !important;
    }
}

footer {
    background-color: #6d767e;
    color: #ffffffde;
    height: 65px;

    p {
        font-size: 12px;
    }

    a {
        color: #ffffffde;
        text-decoration: none;
    }

    .right p {
        text-align: right;
    }
}

.index {
    .btn-primary {
        background-color: #212529;
        border-color: #212529;
        width: 300px;
        margin-top: 20px;
    }

    .description {
        font-weight: 500;
    }

    .banner {
        width: 100vw;
        height: calc(100vh - 40px - 16px * 2 - 20px);
        padding: 30px 70px 0px 70px;

        h1 {
            text-align: center;
            font-weight: 400;
        }

        h2 {
            font-weight: 400;
        }
    }

    .banner-welcome {
        height: calc(100vh - 80px);
        background-color: #495057;
        padding-top: 70px;
        min-width: 1200px;

        .lead {
            color: #ffffff;
            font-size: 75px;
        }

        .description {
            color: #adb5bd;
            font-size: 30px;
            font-weight: 300;
        }

        img {
            filter: grayscale(70%);
            margin-left: 70px;
            height: 100%;
        }

        .rates {
            margin-top: 70px;

            p {
                text-align: center;
                margin: 0px;
                line-height: 100%;
            }

            .lead {
                font-weight: 700;
                font-size: 45px;
            }

            .description {
                font-size: 20px;
                margin-top: 20px;
            }
        }
    }

    .banner-work {
        background-color: #dee2e6;
        min-width: 1200px;

        .steps {
            margin-top: 100px;

            .step {
                background-color: #ced4da;
                margin-top: 20px;
                margin-right: 20px;
                padding: 10px;
                height: 85px;

                h3 {
                    margin-left: 10px;
                    margin-right: 20px;
                    font-size: 45px;
                }

                p {
                    font-weight: 500;
                }
            }
        }
    }

    .banner-techniques {
        height: 100vh;
        min-width: 1200px;

        .card-group {
            div.card {
                position: relative;

                div.tag {
                    position: absolute;
                    z-index: 1;
                    top: 10px;
                    right: 10px;
                    font-weight: 200;
                }

                div.symptoms {
                    position: absolute;
                    z-index: 1;
                    top: 120px;
                    left: 10px;

                    div.symptom {
                        background-color: rgba(255, 255, 255, 0.7);
                        border: 1px solid gray;
                        border-radius: 50px;
                        padding: 2px 5px;
                        margin-right: 7px;
                    }
                }

                div.likes {
                    position: absolute;
                    z-index: 1;
                    bottom: 10px;
                    left: 17px;
                }

                img {
                    filter: grayscale(70%);
                    height: 160px;
                    object-position: center;
                    object-fit: none;
                }
            }
        }
    }

    .banner-coaches {
        background-color: #adb5bd;
        height: 120vh;

        .gallery {
            display: flex;
            width: calc((375px + 2 * 15px) * 3);
            margin: 0px auto;
            height: calc(180px * 3 + 30px * 2);

            .gallery-column {
                width: 375px;
                margin: 0px 15px;
            }

            .gallery-item {
                background-color: #ffffff;
                border: 1px solid #707070;
                border-radius: 5px;
                padding: 10px;
                margin: 30px 0px;

                .section-title {
                    font-size: 12px;
                    color: #000000de;
                }

                img {
                    width: 100px;
                    filter: grayscale(70%);
                    border-radius: 50px;
                }
            }

            .gallery-item-small {
                height: 180px;

                img {
                    width: 50px;
                    margin-right: 30px;
                }
            }

            .gallery-item-big {
                height: calc(180px * 3 + 30px * 2);
            }

            .avatar-and-links {
                color: #6c757d;
                display: flex;

                .aal-item {
                    height: 100px;
                }

                .link {
                    font-size: 32px;
                    margin-top: 30px;
                }

                .avatar {
                    position: relative;
                    width: 100px;

                    .verified {
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        font-size: 28px;
                        color: black;
                    }
                }
            }
        }
    }
}

.login {
    height: calc(100vh);
    width: 500px;
    margin: 0px auto;

    p#notice,
    p#alert {
        margin-top: 35px;
        color: #B00020;
    }

    h1 {
        margin-top: 50px;
    }

    p.description,
    p.reset-password {
        margin-top: 25px;
        margin-bottom: 25px;

        a {
            color: black;
            text-decoration: none;
        }
    }

    .btn-primary {
        background-color: rgb(36, 36, 36);
        border-color: rgb(36, 36, 36);
        color: white;
        width: 100%;
    }
}

div.dashboard {
    display: flex;
    padding: 25px;

    a {
        color: black;
        font-weight: 700;
        text-decoration: none;
    }

    div.left-column {
        width: 100%;

        div.analytics {
            display: flex;

            div.analytic {
                background-color: rgba(190, 190, 190, 0.233);
                border: 1px solid gray;
                border-radius: 5px;
                margin-right: 10px;
                padding: 5px;
                width: calc(100% / 4);

                div.number-description {
                    display: flex;

                    div.description {
                        margin-top: 13px;
                    }
                }

                div.number {
                    font-size: 40px;
                    margin-right: 10px;
                }
            }
        }

        div.techniques,
        div.clients {
            display: flex;
            flex-wrap: wrap;

            div.technique,
            div.client-card {
                width: calc(50% - 20px);
                margin-right: 20px;
                margin-bottom: 20px;
                border: 1px solid gray;
                border-radius: 5px;
                padding: 5px;
            }
        }
    }

    div.right-column {
        width: 700px;

        div.client-card,
        div.coach-card,
        div.notifications {
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 15px;
        }

        div.client-card,
        div.coach-card {
            border: 1px solid gray;
        }

        div.notifications {
            div {
                border: 1px solid white;
            }
        }
    }
}

div.client-card,
div.coach-card {
    div.image-info {
        display: flex;

        div.image {
            margin-right: 10px;
        }

        div.info {
            margin: 0px;
            padding: 0px;
        }
    }

    a {
        color: black;
        font-weight: 700;
        text-decoration: none;
    }

    div.link {
        text-align: center;
        margin-top: 30px;
    }

    div.links {
        display: flex;
        text-align: center;
        margin-top: 30px;
    }
}

div.problems {
    display: flex;

    div.problem {
        background-color: rgba(190, 190, 190, 0.233);
        border: 1px solid gray;
        border-radius: 50px;
        padding: 2px 5px;
        margin-right: 7px;
    }
}

div.technique {
    position: relative;

    div.tag {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
        font-weight: 200;
    }

    div.symptoms {
        position: absolute;
        z-index: 1;
        top: 120px;
        left: 10px;

        div.symptom {
            background-color: rgba(255, 255, 255, 0.7);
            border: 1px solid gray;
            border-radius: 50px;
            padding: 2px 5px;
            margin-right: 7px;
        }
    }

    div.likes {
        position: absolute;
        z-index: 1;
        bottom: 10px;
        left: 17px;
    }

    img {
        filter: grayscale(70%);
        height: 160px;
        object-position: center;
        object-fit: none;
    }

    div.link {
        text-align: center;
        margin-top: 30px;
    }

    .btn-primary {
        background-color: rgb(36, 36, 36);
        border-color: rgb(36, 36, 36);
        color: white;
        width: 100%;
    }
}

div.all-techniques {
    padding: 25px;

    a {
        color: black;
        font-weight: 700;
        text-decoration: none;
    }
    
    div.links {
        display: flex;

        p {
            width: 25%;
            text-align: center;
        }
    }

    div.techniques-coach {
        display: flex;

        div.left-column {
            width: 100%;
        }

        div.right-column {
            width: 700px;

            div.coach-card {
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid gray;
            }
        }
    }

    div.techniques {
        display: flex;
        flex-wrap: wrap;

        div.technique {
            width: calc(50% - 20px);
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid gray;
            border-radius: 5px;
            padding: 5px;
        }
    }
}

div.coaches-view,
div.techniques-coach {
    display: flex;
    padding: 25px;

    a {
        color: black;
        font-weight: 700;
        text-decoration: none;
    }

    div.left-column {
        width: 500px;
        margin-right: 15px;

        div.coach-card {
            border: 1px solid gray;
            border-radius: 5px;
        }
    }

    div.right-column {
        width: 100%;

        div.coaches {
            display: flex;
            flex-wrap: wrap;

            div.coach-card {
                width: calc(50% - 15px);
                padding: 10px;
                margin-right: 15px;
                margin-bottom: 15px;
                border: 1px solid gray;
                border-radius: 5px;
            }
        }
    }
}

div.coaches-view {
    .btn-primary {
        color: #747475 !important;
        border-color: #747475 !important;
        background-color: transparent !important;
    }
}

.card-view {
    width: 500px;
    margin: 25px auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

div.technique-view {
    display: flex;
    padding: 25px;

    div.step {
        width: 100%;
        margin-right: 15px;

        div.buttons {
            display: flex;

            div.button {
                width: 33.3%;
                color: black;
                font-weight: 700;

                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }

    div.technique {
        width: 500px;
    }
}

div.like-view {
    width: 1000px;
    margin: 50px auto;

    a {
        font-weight: 700;
        color: black;
        text-decoration: none;
    }

    div.buttons {
        display: flex;

        p {
            width: 50%;
        }
    }
}

div.my-clients {
    padding: 25px;

    a {
        color: black;
        font-weight: 700;
        text-decoration: none;
    }
    
    div.links {
        display: flex;

        p {
            width: 50%;
            text-align: center;
        }
    }

    div.clients {
        display: flex;
        flex-wrap: wrap;

        div.client-card {
            width: calc(50% - 20px);
            margin-right: 20px;
            margin-bottom: 20px;
            border: 1px solid gray;
            border-radius: 5px;
            padding: 5px;
        }
    }
}
