<header class="p-3 navigation">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start nav p-2">

      <%= render 'layouts/navigation/logo' %>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/dashboard" class="nav-link px-2">Dashboard</a></li>
        <li><a href="/my-techniques" class="nav-link px-2">My Techniques</a></li>
        <li><a href="/coaches" class="nav-link px-2">Coaches</a></li>
      </ul>

      <div class="text-end">
        <%= image_tag(UserManager::ProfileImage.call(user), size: "30x30", alt: user.name) %> &nbsp;
        <%= link_to "LOG OUT", "logout", class: "btn btn-primary me-2" %>
      </div>
    </div>
  </div>
</header>
