<header class="p-3 navigation">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start nav p-2">
      <%= render 'layouts/navigation/logo' %>
    </div>
  </div>
</header>
